.header {
  width: 880px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-bottom: solid 1px rgba(84, 84, 84, 0.7);
}

@media screen and (max-width:880px) {
  .header {
    width: 100%;
  }
}
