.header__logout {
  background-color: rgba(0,0,0,0);
  color: #FFFFFF;

  box-sizing: border-box;
  margin: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;

  transition: color 0.2s ease-in-out;
}

.header__logout:hover {
  color: #A9A9A9;
  cursor: pointer;
}
