.profile__edit-button {
  width: 24px;
  height: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 8px;
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../images/EditButton.svg);
  background-repeat: no-repeat;
  background-size: contain;

  grid-area: edit-button;
  -ms-grid-row-align: end;
      align-self: end;

  -webkit-transition: opacity 0.5s ease;

  -o-transition: opacity 0.5s ease;

  transition: opacity 0.5s ease;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-bottom: 6px;
  }
}
